@import './styles.config.scss';

.footer {
  align-items:center;
  background-color:transparent;
  justify-content:center;
  padding-bottom: $contentPaddingMobile;
  position : relative;
  text-align: center;
  @media screen and (min-width: $desktopWidth) {
    padding-bottom: $contentPadding;
  }
}

.footer {
  $linkSpacing: 20px;
  .f-site-links,
  .f-social-links {
    margin-bottom: $linkGroupMarginMobile;
    @media screen and (min-width: $desktopWidth) {
      margin-bottom: $linkGroupMargin;
    }
    li {
      display: inline;
    }
    a {
      color: $linkBlue;
      text-decoration: none;
    }
  }
  .f-site-links {
    li {
      display: block;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 75px;
      }
      @media screen and (min-width: 600px) {
        display: inline-block;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 0;
        }
        &:not(:last-child):after {
          content: "|";
          padding-left: $linkSpacing;
          padding-right: $linkSpacing;
        }
      }
    }
  }
  .f-social-links {
    li {
      margin-left: $linkSpacing * 1.7;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  .f-made-by {
    color: rgba(185, 185, 185);
    font-size: 13px;
  }
}
