@use "sass:math";
@import './styles.config.scss';

.index-intro {
  margin-bottom: 192px;
  margin-top: 60px;
  position: relative;
  @media screen and (max-height: 600px) {
    margin-top: 38px;
  }
  @media screen and (min-width: 600px) {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 325px;
    width: 70vw;
  }
  @media screen and (min-width: 900px) {
    margin-bottom: 275px;
    margin-top: 160px;
    padding-top: 122px;
    width: 70vw;
  }
  @media screen and (min-width: 1500px) {
    width: 55vw;
  }
  @media screen and (min-width: 1800px) {
    width: 45vw;
  }
  @media screen and (min-width: 2200px) {
    width: 35vw;
  }
  .ii-announcement {
    position: relative;
    z-index: 2222;
  }
  .iia-text {
    margin-bottom: $textBlockMarginMobile;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    @media screen and (min-width: $desktopWidth) {
      margin-bottom: $textBlockMargin;
    }
    h1 {
      font-size: $fontSizeSuperMobile;
      line-height: $lineHeightSuperMobile;
      margin-bottom: $marginSuperMobile;
      @media screen and (max-height: 600px) {
        font-size: math.div($fontSizeSuperMobile, 1.1);
        margin-bottom: math.div($marginSuperMobile, 2.2);
      }
      @media screen and (min-height: 700px) {
        font-size: $fontSizeSuperMobile * 1.2;
        line-height: $lineHeightSuperMobile * 1.4;
        margin-bottom: math.div($marginSuperMobile, 2);
      }
      @media screen and (min-height: 700px) {
        font-size: $fontSizeSuperMobile * 1.2;
        line-height: $lineHeightSuperMobile * 1.4;
        margin-bottom: math.div($marginSuperMobile, 2);
      }
      @media screen and (min-width: 900px) {
        font-size: $fontSizeSuperMobile + 10;
        line-height: $lineHeightSuperMobile + 18;
      }
    }
    h2 {
      // Temporary as we iterate on content
      display: none;
      font-weight: 400;
    }
    div {
      margin-bottom: $marginSuperMobile;
      @media screen and (max-height: 600px) {
        margin-bottom: $marginSuperMobile
      }
    }
  }
  .iia-tvl {
    
  }
  .iia-built-with {
    align-content: center;
    display: flex;
    img:first-of-type {
      height: 25px;
      margin-left: 11px;
      margin-top: -2px;
    }
    img:last-of-type {
      height: 28px;
      margin-left: 8px;
      margin-top: -3px;
    }
    span:last-of-type {
      margin-left: 12px;
    }
  }
  .iia-button-group {
    margin-bottom: 28px;
  }
  .iia-button-group .p-button:first-of-type {
    background: $cyan;
    color: black;
    font-weight: 700;
  }
  .ii-retro-logo {
    opacity: 0.55;
    position: absolute;
    right: -20vw;
    top: -60px;
    width: 100vw;
    z-index: 1111;
    @media screen and (min-width: 800px) {
      opacity: 0.6;
      right: -12vw;
      top: -150px;
      width: unset;
    }
    @media screen and (min-width: 900px) {
      top: -80px;
    }
  }
}
