@import './styles.config.scss';

.index-airdrop {
  margin-bottom: 225px;
  @media screen and (min-width: 600px) {
    margin-bottom: 225px;
  }
  @media screen and (min-width: 900px) {
    display: flex;
    margin: 0 auto;
    margin-bottom: 305px;
    width: 80vw;
  }
  @media screen and (min-width: 1300px) {
    width: 65vw;
  }
  @media screen and (min-width: 1500px) {
    width: 60vw;
  }
  @media screen and (min-width: 1800px) {}
  @media screen and (min-width: 2200px) {
    width: 45vw;
  }

  .ia-block {
    margin-bottom: $contentPaddingMobile;
    h1 {
      font-size: $fontSizeHeadingMobile;
      line-height: $lineHeightHeadingMobile;
      margin-bottom: $contentPaddingLightMobile;
      text-transform: uppercase;
    }
    div {
      color: $cyan;
    }
  }
  img {
    margin-left: -30px;
    width: 150%;
    @media screen and (min-width: 900px) {
      margin-top: -60px;
      width: 50%;
    }
    @media screen and (min-width: 1500px) {
      margin-top: -120px;
    }
    @media screen and (min-width: 1500px) {
      margin-top: -120px;
    }
    @media screen and (min-width: 1900px) {
      margin-top: -130px;
      width: 45%;
    }
  }
}
