@use "sass:math";
@import '../styles.config.scss';

.index-treasury {
  background-size: 100%;
  background-position: 50%;
  padding: 300px 0;
  margin-bottom: 155px;
  @media screen and (min-width: 600px) {
    margin-bottom: 175px;
  }
  @media screen and (min-width: 900px) {
    background-size: 70%;
    margin-bottom: 285px
  }
}

.index-treasury {
  .it-top-group .it-block {
    box-shadow: 8px 8px 0 $pink;
    p:first-of-type {
      margin-bottom: $contentPaddingLightMobile;
    }
    p:last-of-type {
      font-weight: 700;
    }
  }
}

.index-treasury {
  .it-block {
    background-color: rgba(0, 0, 0, .65);
    border: 1px solid $grey;
    box-shadow: 8px 8px 0 $cyan;
    padding: $contentPaddingLightMobile * 2;
    @media screen and (min-width: 900px) {
      background-color: rgba(0, 0, 0, .45);
    }
    &:first-of-type {
      margin-bottom: $contentPaddingMobile;
      @media screen and (min-width: $desktopWidth) {
        margin-bottom: $contentPaddingLight;
      }
    }
  }
  .it-block {
    h1 {
      font-size: $fontSizeHeadingMobile;
      line-height: $lineHeightHeadingMobile;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.index-treasury {
  .it-top-group,
  .it-bottom-group {
    @media screen and (min-width: 900px) {
      margin: 0 auto;
      width: 70vw;
    }
    @media screen and (min-width: 1300px) {
      width: 55vw;
    }
    @media screen and (min-width: 1500px) {
      width: 40vw;
    }
    @media screen and (min-width: 1800px) {}
    @media screen and (min-width: 2200px) {
      width: 30vw;
    }
  }
  .it-bottom-group {
    @media screen and (min-width: 900px) {
      display: flex;
      $gutterSize: 30px;
      .it-block:first-of-type {
        align-self: flex-start;
        margin-right: math.div($gutterSize, 2);
      }
      .it-block:last-of-type {
        align-self: flex-start;
        margin-left: math.div($gutterSize, 2);
      }
    }
  }
}
