@import '../styles.config.scss';

.index-intro {
  margin-bottom: 500px;
  position: relative;
  .ii-announcement {
    position: relative;
    z-index: 8888;
  }
  .iia-text {
    margin-bottom: $textBlockMarginMobile;
    @media screen and (min-width: $desktopWidth) {
      margin-bottom: $textBlockMargin;
    }
  }
  .ii-retro-logo {
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 7777;
  }
}
