$linkBlue: #8BEAFF;
$contentPadding: 55px;
$contentPaddingMobile: 35px;
$desktopWidth: 700px;
$fontSize: 16px;
$fontSizeH1: $fontSize * 2;
$fontSizeSuper: $fontSize * 4;
$glowBlue: #0347F6;
$navHeight: 80px;
$textBlockMargin: 16px;
$textBlockMarginMobile: 22px;
